.container {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  background-color: black;
  appearance: none;
  font-weight: bolder;
  width: 300px;
  position: relative;

  &__isActive {
    background-color: white;
    border-color: white;
    color: black;
  }
}
