.container {
  color: gray;
  text-transform: uppercase;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;

  &__active {
    background-color: white;
    border-color: white;
    color: black;
  }

  &__isBuyButton {
    opacity: 0.5;
    background-color: white;
    border-color: white;
    color: black;
    pointer-events: none;
  }

  &__isCloseButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
