.select {
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  background-color: black;
  appearance: none;
  font-weight: bolder;
  width: 300px;
  cursor: pointer;

  &__isActive {
    background-color: white;
    border-color: white;
    color: black;
  }
}

.container {
  position: relative;

  &__image {
    width: 16px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    &__isActive {
      filter: invert();
    }
  }
}
