.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  color: black;
  margin: 100px 0;

  @media (--large) {
    flex-direction: row;
    align-items: initial;
    gap: 0;
  }

  & button {
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: gray;
    }
  }

  &__login,
  &__create {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 280px;

    & h2 {
      font-size: 14px;
      font-weight: lighter;
      margin-bottom: 10px;
    }

    & form {
      display: flex;
      flex-direction: column;
    }

    & label {
      font-size: 14px;
      margin-top: 10px;
    }

    & input {
      border: none;
      height: 30px;
      margin-top: 5px;
    }

    & a {
      font-size: 12px;
      text-align: center;
      margin-top: 3px;
    }
  }

  &__create {
    height: fit-content;
    border-top: 2px solid #cacaca;
    text-align: center;
    padding-top: 30px;

    @media (--large) {
      border-top: none;
      border-left: 2px solid #cacaca;
      text-align: initial;
      padding-top: 0;
    }
  }
}
