.container {
  &__top {
    display: flex;

    &__poster {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__age {
        width: fit-content;
        border: 1px solid white;
        padding: 0 5px 0 3px;
      }

      &__info {
        color: gray;
        font-weight: light;

        & strong {
          color: white;
        }
      }
    }

    &__trailer {
      & video {
        background-color: aliceblue;
      }
    }
  }
}
