.container {
  color: gray;
  text-transform: uppercase;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  width: min-content;
  cursor: pointer;
  transition: 0.2s;

  &__isActive {
    background-color: white;
    border-color: white;
    color: black;
  }

  &__isBuyButton {
    width: 200px;
    height: 45px;
    border-color: yellow;
    color: black;
    background-color: yellow;
    pointer-events: all;
    font-weight: bolder;

    &__disabled {
      border-color: gray;
      color: gray;
      background-color: white;
      pointer-events: none;
    }
  }

  &__isCloseButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
