.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  @media (--large) {
    flex-direction: row;
    margin-top: 35px;
  }

  &__poster {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
    text-transform: capitalize;

    @media (--large) {
      margin: initial;
      width: 190px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__edad {
      width: fit-content;
      border: 1px solid white;
      padding: 0 5px 0 3px;
    }

    &__info {
      color: gray;
      font-weight: light;
      font-size: 12px;

      & strong {
        color: white;
      }
    }
  }

  &__trailer {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (--large) {
      width: 360px;
    }

    & iframe {
      width: 100%;
      height: 200px;
      border: none;
    }

    &__titulo {
      font-size: 18px;
    }

    &__sinopsis {
      font-size: 12px;
      text-transform: initial;
    }
  }
}
